@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Lustria&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cerebri" !important;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  overflow-x: hidden;
}

*{
  box-sizing: border-box !important;
}
@font-face {
  font-family: "Cerebri";
  src: url(./resources/fonts/cerebri.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url(./resources/fonts/cerebri-semi.ttf) format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "Cerebri";
  src: url(./resources/fonts/cerebri-bold.ttf) format("truetype");
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
